$primary: #00CF2E;

$black :  #000;

$white: #fff;

$weight-300: 300;

$weight-600: 600;

$weight-400: 400;

$weight-700: 700;

$weight-500: 500;

$text-size: 2rem;

$title-size: 8rem;

$size-descript :  2.4rem;

$space-8: 8px;

$space-16: 16px;

$space-30: 30px;

$space-60: 60px;

$space-90: 90px;